@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Martian+Mono:wght@500&family=Montserrat:ital,wght@0,500;1,400;1,500&family=Mulish:wght@300;400;500;600&family=Nanum+Myeongjo&family=Playfair+Display:ital,wght@1,600;1,700&family=Poppins:ital,wght@0,600;0,700;1,300;1,500&family=Raleway:wght@700&family=Roboto+Condensed:wght@700&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,500&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,600;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700&family=Roboto+Slab:wght@300;400&family=Roboto:ital,wght@0,100;1,100;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

/* 네비게이션  */
nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 10px;
  border-radius: 8px;
  /* background-color: rgb(228, 186, 67); */
}

.brand-name {
  margin: 10px 15px;
  padding: 5px;
  border-radius: 8px;
}

.brand-name a {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  padding-left: 30px;
}

.nav-list {
  padding: 20px;
}

.nav-list a {
  margin: 10px;
  padding: 8px;
  text-decoration: none;
  color: #6c6c6c;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.4s ease;
}

.nav-list a:hover {
  color: #fff;
  background-color: rgb(236, 174, 1);
}

#login {
  border: 2px solid;
  padding: 7px 15px;
  border-color: rgb(228, 186, 67);
}

#login:hover {
  color: #fff;
  background-color: rgb(236, 174, 1);
}

#membership {
  background-color: rgb(242, 179, 5);
  color: #fff;
}

#membership:hover {
  background-color: rgb(244, 187, 30);
}

/* header */

.header-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 200px;
}

.header-container::before{
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(110, 110, 110, 0.4);
}

.header-container img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 3px;
  border: 1px solid rgb(228, 186, 67);
}

.header-text{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate( -50%, -50% );
  color: white;
}



/* footer */
.footer-container{
  background-color: rgb(241, 200, 86);
  margin-top: 110px;
  width: 110%;
  height: 110%;
}

.footer-text{
  width: 100%;
  height: 100%;
  text-align: left;
  padding-top: 100px;
}

.footer-text p{
  position: relative;
  left: 10%;
  bottom: 30px;
  padding: 3px;
}

.instagram{
  position: relative;
  left: 10%;
  padding-top: 5px;
  bottom: 30px;
}

.instagram a{
  text-decoration: none;
  color: #000;
  padding-left: 3px;
}

.logo{
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 10px;
}