@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Martian+Mono:wght@500&family=Montserrat:ital,wght@0,500;1,400;1,500&family=Mulish:wght@300;400;500;600&family=Nanum+Myeongjo&family=Playfair+Display:ital,wght@1,600;1,700&family=Poppins:ital,wght@0,600;0,700;1,300;1,500&family=Raleway:wght@700&family=Roboto+Condensed:wght@700&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;1,500&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,600;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700&family=Roboto+Slab:wght@300;400&family=Roboto:ital,wght@0,100;1,100;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

/* 네비게이션  */
nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 10px;
  border-radius: 8px;
  /* background-color: rgb(228, 186, 67); */
}

.brand-name {
  margin: 10px 15px;
  padding: 5px;
  border-radius: 8px;
}

.brand-name a {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  padding-left: 30px;
}

.nav-list {
  padding: 20px;
}

.nav-list a {
  margin: 10px;
  padding: 8px;
  text-decoration: none;
  color: #6c6c6c;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  transition: all 0.4s ease;
}

.nav-list a:hover {
  color: #fff;
  background-color: rgb(236, 174, 1);
}

#login {
  border: 2px solid;
  padding: 7px 15px;
  border-color: rgb(228, 186, 67);
}

#login:hover {
  color: #fff;
  background-color: rgb(236, 174, 1);
}

#membership {
  background-color: rgb(242, 179, 5);
  color: #fff;
}

#membership:hover {
  background-color: rgb(244, 187, 30);
}

/* header */

.header-container {
  width: 115%;
  position: relative;
  bottom: 1.5px;
}

.header-container::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(166, 163, 163, 0.4);
}

.header-container img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 3px;
  border: 1px solid rgb(228, 186, 67);
}

.header-text h1 {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  top: 50%;
  left: 13%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 100;
}

.header-text h4 {
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  top: 75%;
  left: 17.3%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 100;
}

.valor-membership {
  border: 0.5px solid rgb(228, 186, 67);
  border-radius: 2px;
  background-color: rgb(228, 186, 67);
  padding: 20px;
  position: relative;
  left: 0.5px;
  bottom: 1px;
}

.valor-membership p {
  position: relative;
  left: 10.7%;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
/* form */

.membership{
  padding-left: 13vw;
  padding-right: 13vw;
  background-color: rgb(250, 250, 250);
  padding-bottom: 162px;
}

.membership-container{
  display: flex;
  flex-direction: column;
}

.membership-container h1{
  text-align: center;
  color: rgb(34, 34, 34);
  font-size: 28px;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 30px;
}

.form-container{
  display: flex;
  flex-direction: column;
  margin: 20px 0px 47px;
  padding-left: 29px;
  border: 1px solid rgb(215, 215, 215);
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-box{
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  height: 76px;
}

.form-box a{
  height: 45px;
  width: 97px;
  text-align: center;
  align-items: center;
  font-size: 16px;
  color: rgb(123, 123, 123);
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  cursor: pointer;
  margin-left: 9px;
  padding: 10px;
  text-decoration: none;
}

.form-box span{
  font-size: 14px;
  color: rgb(161, 161, 161);
  margin: 5px 5px;
  align-self: flex-end;
  margin-bottom: 18px;
}

.form-input{
  height: 45px;
  border: 1px solid rgb(215, 215, 215);
  width: 25%;
  padding-left: 10px;
}

input[type=text]{
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 0 10px;
  border-radius: 4px;
}

input[type=password]{
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 0 10px;
  border-radius: 4px;
}

.email-list{
  font-size: 17px;
  height: 45px;
  border: 1px solid rgb(215, 215, 215);
  width: 15%;
  background: rgb(255, 255, 255);
  margin-left: 9px;
}

/* footer */
.footer-container{
  width: 110%;
  height: 110%;
}

.footer-text{
  background-color: rgb(228, 186, 67);
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 50px;
}

.footer-text p{
  position: relative;
  left: 10%;
  bottom: 30px;
  padding: 3px;
}

.instagram{
  position: relative;
  left: 10%;
  padding-top: 5px;
  bottom: 30px;
}

.instagram a{
  text-decoration: none;
  color: #000;
  padding-left: 3px;
}

.logo{
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 10px;
}